@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(20, 20, 20);
    font-family: 'Montserrat', sans-serif;
    color: rgba(185, 0, 0, 0.568);
}
.vessel {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.calc {
    background: rgb(17, 17, 17);
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #ac030348;
    font-family: 'Montserrat', sans-serif;
}

.calc tbody input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgb(71, 70, 70), -8px -8px 15px rgb(0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

.calc tbody input:hover {
    background: rgba(75, 8, 8, 0.479);
    -webkit-box-shadow: 0px 0px 30px 1px rgb(245, 0, 0);
    -moz-box-shadow: 0px 0px 125px 1px rgb(230, 0, 0);
    box-shadow: 0px 0px 125px 1px rgb(163, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.h1 {
    font-size: 20px;
    color: rgba(185, 0, 0, 0.568);
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(20, 20, 20);
}
a{
    color: rgba(185, 0, 0, 0.568);
    text-decoration: none;
 }
 a:visited{
    color: rgb(255, 0, 0);
 }